body{
    padding: 10px;
    text-align: center;
}
.programa{
    font-family: "Courier New", Courier, monospace;    
}
.instrucciones{
    background-color: #dddddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 3px;
    padding-top: 5px;
}